version: "3.9"

services:
  db:
    image: postgres:15
    container_name: superhero_db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: superhero_backend
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    restart: always


  redis:
    image: redis:7
    container_name: superhero_redis
    ports:
      - "6379:6379"
    restart: always
    depends_on:
      - db

  celery_worker:
    restart: always
    container_name: superhero_celery_worker
    command: celery -A config worker -l info
    build: ./backend
    depends_on:
      - redis
      - db
    env_file:
      - .env
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0

volumes:
  postgres_data:
  ollama_data: